<!DOCTYPE html>
<html>
<head>
    <title>Random Name Generator</title>
    <link rel="stylesheet" href="/style.css">
    <meta name ="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
<h1>$heading</h1>
<div class="container">
    #parse( $template )
</div>
<div class="buttons">
    <form action="/students">
        <input type="submit" value="All Students">
    </form>

    <form action="/students/1">
        <input type="submit" value="Select One Student">
    </form>

    <form action="/students/2">
        <input type="submit" value="Select Two Students">
    </form>

    <form action="/students/3">
        <input type="submit" value="Select Three Students">
    </form>

    <form action="/students/4">
        <input type="submit" value="Select Four Students">
    </form>
</div>
</body>
</html>





